html
  head
    title SOSE
    block meta
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
    block scripts
      script(src='/js/jquery.min.js')
      script(src='/js/bootstrap.bundle.min.js')
    block styles
      link(rel='stylesheet' href='/css/bootstrap.min.css')
      link(rel='stylesheet' href='/res/style.css')
  body
    .container-fluid
      block content