extends header.pug    
            
block content
  .row
    .col-12
      form.form-inline.my-2.my-lg-0.ml-auto(method='post')
        label(for='search')  
          input.form-control(type='search', name='title', placeholder='search', style='width:80%;')
          button.btn.btn-outline-white.btn-md.my-2.my-sm-0.ml-3(form-action='/search')