html
  head
    title SOSE
    block meta
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
    block scripts
      script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js' integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj' crossorigin='anonymous')
      script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin='anonymous')
      script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js' integrity='sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI' crossorigin='anonymous')
    block styles
      link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css' integrity='sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk' crossorigin='anonymous')
      link(rel='text/css' href='/res/style.css')
  body
    block navbar
      .row
        .container-fluid.noPadding(style='color: white;')
          nav.navbar.navbar-expand-sm.navbar-dark.bg-dark
            a.navbar-brand(href='/dashboard') SOSE
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#main-links', aria-controls='main-links', aria-expanded='false', aria-label='Toggle Navigation')
              span.navbar-toggler-icon
            #mainLinks.collapse.navbar-collapse.flex-grow-0
              ul.navbar-nav.text-left
                li.nav-item
                  a.nav-link(href='/dashboard') Home
                li.nav-item.dropdown
                  a.nav-link(href='/users') Users
                li.nav-item.dropdown
                  a#moviesDropdown.nav-link.dropdown-toggle(href='/movies', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Movies
                  .dropdown-menu(aria-labelledby='navbarDropdown')
                    a.dropdown-item(href='/movies') List
                    a.dropdown-item(href='/movies/search') Search
                    a.dropdown-item(href='http://localhost:8080/movies') Add 
                li.nav-item
                  a.nav-link(href='/reviews') Reviews
                li.text-right
                  a.nav-link(href='http://localhost:8080/users/logout') Logout 
    .container-fluid
      block content